<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--TITLE-->
    <title>Gestor Invitaciones</title>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LINK-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rouge+Script&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-css-5.3.3/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <!--SCRIPT-->
    <script type="text/javascript" th:src="@{/js/bootstrap-js-5.3.3/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<main>
    <div class="container">
        <h1 class="titulo">Confirmaciones de asistencia boda Yocelin y Fernando</h1>
        <div class="container">
            <p><strong>Adultos: </strong><span th:text="${adults}"></span></p>
            <p><strong>Niños: </strong><span th:text="${children}"></span></p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="thInvitacion" scope="col">Nombre</th>
                    <th class="thInvitacion" scope="col">Asistencia</th>
                    <th class="thInvitacion" scope="col">Adultos</th>
                    <th class="thInvitacion" scope="col">Niños</th>
                    <th class="thInvitacion" scope="col">Mensaje</th>
                    <th class="thInvitacion" scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="asistente, iterStat : ${asistencia}">
                    <td class="tdInvitacion" th:text="${asistente.name}"></td>
                    <td class="tdInvitacion" th:text="${asistente.asistencia ? 'SI' : 'NO'}"></td>
                    <td class="tdInvitacion" th:text="${asistente.adult}"></td>
                    <td class="tdInvitacion" th:text="${asistente.kids}"></td>
                    <td class="tdInvitacion" th:text="${asistente.mensajeOp}"></td>
                    <td class="tdInvitacion">
                        <input type="hidden" th:value="${asistente.id}" th:id="|sendInput-${iterStat.count}|">
                        <button type="button" class="btn" title="Eliminar" th:id="|sendButton-${iterStat.count}|"
                                th:onclick="|javascript:deleteAsistente(${iterStat.count})|">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-x" viewBox="0 0 16 16">
                                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708"/>
                            </svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>